*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}
.landing-page{
    background-image: url(../images/pexels-narda-yescas-1566837.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}  
.header{
color: white;
background-color: rgba(0,0,0,0.7);
border-radius: 5px;
}
.header> h1,p{
    padding: 1.8rem;
}